@using WarmUp.Model
@model Post

@{
    ViewData["Title"] = "Create new Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Post", FormMethod.Post))
{
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => x.Title)
                </div>
                <div class="col-10">
                    @Html.TextBoxFor(x => x.Title)
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => x.Content)
                </div>
                <div class="col-10">
                    @Html.TextBoxFor(x => x.Content)
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => x.Image)
                </div>
                <div class="col-10">
                    @Html.TextBoxFor(x => x.Image)
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => x.Category)
                </div>
                <div class="col-10">
                    @Html.TextBoxFor(x => x.Category)
                </div>
            </div>
            <div class="row float-right pr-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}