@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WarmUp.Model
@model IEnumerable<Post>


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Home</h6>
        </div>
        <div class="card-body">
            @{
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(x => x.First().Title)
                    </div>
                    <div class="col-3">
                        @item.Title
                    </div>
                    <div class="col-6">
                        <img src="~/Post/Image?id=@item.Id" width="160" height="160" alt="Image" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(x => x.First().Category)
                    </div>
                    <div class="col-3">
                        @item.Category
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(x => x.First().CreateDate)
                    </div>
                    <div class="col-3">
                        @item.CreateDate.ToString("dd/MM/yyyy")
                    </div>
                </div>
                <div class="row">
                    <a href="@Url.Action("Detail","Post",new {Id=item.Id})"><i class="fas fa-search" style="font-size: 18px;"></i></a>
                    <a href="@Url.Action("Delete","Post",new {Id=item.Id})"><i class="fas fa-trash-alt" style="font-size: 18px;"></i></a>
                    <a href="@Url.Action("Edit","Post",new {Id=item.Id})"><i class="fas fa-edit" style="font-size: 18px;"></i></a>
                </div>
            }
        }
        </div>
    </div>

</div>
